html,body{
    margin: 0;
    overflow: hidden;
}
:root{
    --font:"Poppins", sans-serif;
    --primary:#e81900;
}
.container{
    width:100vw;
    height: fit-content;
    margin:10px auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 100;
}
nav{
    height: 50px;
    width:100%;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px rgb(193, 193, 193);
    
}
.logo{
    width: 50px;
    margin-left:auto ;
}
nav > button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0;
    outline:0;
    font-size: 25px;
    z-index:100;
    transition: 0.2s;
    z-index: 100;
}
.profile{
    width: 75px;
    height: 75px;
    border-radius: 200px;
    margin:10px;
    margin-top: 10px;
    background-color: var(--primary);
    font-size: 50px;
    font-family: var(--font);
    color: white;
    text-transform: uppercase;
    text-align: center;
}
h1{
    margin-left: 10px;
    font-size: 18px;
    font-family: var(--font);
    color:var(--primary);
    font-weight: 700;
}
.container > p{
    color: grey;
    font-family: var(--font);
    text-transform: capitalize;
    font-size: 15px;
    margin:10px auto;
}
.search{
    width: 100%;
    display: flex ;
    flex-direction: column;
}
.search > p{
    color: grey;
    font-family: var(--font);
    text-transform: capitalize;
    font-size: 14px;
    margin: 10px;
    margin-bottom: 0%;
}
.search > i{
    font-size: 15px;
    
}
.options{
    height: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s;
    opacity: 0;
}
.options > button{
    width: 150px;
    height: 40px;
    margin: 5px;
    padding-left: 10px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    text-align: left;
    font-family: var(--font);
    font-size: 15px;
    background-color: transparent;
}
.options > button:nth-child(1){
    color: var(--primary);
}
.options > h1{
    margin-top: 0px;
    padding-bottom: 20px;
    width:calc(100% - 20px) ;
    border-bottom: 1px solid rgb(198, 198, 198);
}
.search > button{
    width: calc(100% - 20px);
    height: 40px;
    background-color: rgb(231, 231, 231);
    border: 0;
    outline: 0;
    text-align: left;
    border-radius: 5px;
    margin: 10px;
    padding: 0px 10px;
    color: rgb(100, 100, 100);
    font-family: var(--font);
    font-size: 15px;
}
.search > button > i{
    font-size: 18px;
    margin-right: 10px;
}
h2{
    margin: 0px 10px;
    font-size: 18px;
    font-family: var(--font);
    color:#000000;
    font-weight: 600;
    text-align: left;
    margin-top: 5px;
}
.search_popup{
    width: 400px;
    top: 70px;
    background-color: white;
    position: absolute;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}
.align{
    display: flex;
    flex-direction: row;
}
.align > input{
    height: 30px;
    width:calc(100% - 30px);
    border: 0;
    outline: 0;
    font-family: var(--font);
    font-size: 15px;
    background-color: rgb(206, 206, 206);
    margin: 10px;
    border-radius: 5px;
    padding-left: 10px;
}
.search_popup > span{
    margin: 20px 10px;
    font-family: var(--font);
    font-weight: bold;
}
#resul{
    background-color: white;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    position: absolute;
    top: 50px;
    width:400px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
}
.navig{
    width:calc(100% - 20px);
    font-family: var(--font);
    background-color: var(--primary);
    color: white;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
    padding: 5px;
    margin: 0px auto;
}
video{
    width: 350px;
    min-height: 250px;
    border-radius: 5px;
    margin: auto;
    z-index: -1;
    border: 3px solid var(--primary);
}
.qr_align{
    width: 345px;
    height:250px;
    position:absolute;
    border: 3px solid var(--primary);
    background-color: transparent;
    margin: 25px;
    margin-top: 50px;
    border-radius: 5px;
    z-index: 1;
    display: flex;
}
.qr_align > img {
    width: 200px;
    margin:auto;
    padding: 0;
    border-left: 73px ;
    border-right: 73px ;
    border-top: 57px ;
    border-bottom: 57px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.733);
}
.overlay{
    width: 400px;
    height:100%;
    padding: calc((100vw - 400)/2);
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    z-index: 200;
    opacity: 0;
    transition: 1s;
}
#cart_add_success{
    width: 200px;
    border-radius: 5px;
    background-color: white;
    font-family: var(--font);
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 1px 5px grey;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    color: green;
    opacity: 0;
    transition: 1s;
}
.box{
    width: 300px;
    height: fit-content;
    background-color: white;
    border: 1px solid gray;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.box > p{
    text-align: center;
    font-weight: bold;
    font-family: var(--font);
    font-size: 18px;
    text-transform: capitalize;

}
.box > input{
    width: 200px;
    height: 20px;
    border: 0;
    outline: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-bottom: 3px solid var(--primary);
    margin: auto;
    font-family: var(--font);
    font-size: 15px;
}
.box > span{
    display: flex;
    flex-direction: row;
    margin: 15px;
}
#add_cart, #cancel{
    width: 120px;
    height: 40px;
    margin: auto;
    background-color: var(--primary);
    color: white;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-family: var(--font);
    font-size: 15px;
    font-weight: bold;
}
#cancel{
    background-color: white;
    color: var(--primary);
    border: 2px solid var(--primary);
}
#homediv,#scanner,#cartdiv{
    flex-direction: column;
    width: 400px;
    margin: auto;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
}
.products_list{
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    height: calc(100svh - 200px);
    border-radius: 10px;
    margin: 10px;
    background-color: white;
}
#product{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 1px 1px 5px rgb(161, 161, 161);
    overflow: hidden;
}
.product_name{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.product_name > p{
    font-family:var(--font) ;
    color: grey;
    margin: 0px 10px;
    font-size: 14px;
}
#product > img{
    height: 90px;
    width: fit-content;
    margin: 5px;
    border-radius: 5px;
}
#product > .product_name > button{
    width: 45px;
    height: 45px;
    margin-left: auto;
    font-size: 20px;
    border-radius: 0px 10px 0px 10px;
    outline: 0;
    border: 0;
    background-color: var(--primary);
    color: white;
    margin-top: -52px;
}
#price{
    margin: 10px;
    margin-top: auto;
    font-family: var(--font);
    font-size: 18px;
    color: var(--primary);
    font-weight: bold;
}
#homediv > img{
    width: calc(100% - 20px);
    margin: 0px 10px;
}
.button_array{
    display: flex;
    flex-direction: row
}
.add_items,.checkout{
    width: 100%;
    margin: 0px 10px;
    height: 50px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    background-color: var(--primary);
    font-family: var(--font);
    font-size: 18px;
    font-weight: bold;
    color: white;

}
.checkout{
    background-color: white;
    color: var(--primary);
    border: 3px solid var(--primary);
}
#home{
    background-color: #e8170023;
    color: var(--primary);
}
#scanner > button{
    margin: 10px auto;
    width: 125px;
    height: 40px;
    font-family: var(--font);
    outline: 0;
    border: 0;
    background-color: var(--primary);
    border-radius: 5px;
    color: white;
    font-size: 15px;
}
.admin{
  display:flex;
  flex-direction:column;
  max-width:400px;
}
.admin > h1{
  font-size:18px;
  text-align:center;
}
.name{
  margin:10px;
  padding:10px;
  font-size:15px;
  width:calc(100% - 20px);
  border-radius:5px;
  border:2px solid black;
}
.submit{
  width:200px;
  height:60px;
  background-color:red;
  color:white;
  outline:0;
  border:0;
  border-radius:10px;
  margin:auto;
  font-size:18px;
}
@media screen and (max-width:400px){
    .container{
        z-index: -1;
    }
    nav{
        z-index: 1000;
    }
}