html,body{
    margin: 0;
}
:root{
    --font:"Poppins", sans-serif;
    --primary:#e81900
}
.container{
    width:400px;
    height: 100svh;
    margin: auto;
    background-color: white;
    scale: 1;
    display: flex;
    flex-direction: column;
    background-image: url("../static/images/Bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (max-width:400px) {
    body{
        overflow: hidden;
        margin: 20px;
        min-width: 400px;
    }
}
.container > div{
    margin: auto;
}
.logo{
    width: 175px;
    margin: 10px auto;
}
.name{
    width: 225px;
    margin:15px auto;
}
.container > p{
    width: 350px;
    text-align: center;
    margin:10px auto;
    font-family: var(--font);
    text-transform: capitalize;
    margin-bottom: 15px;
}
.mail, .google{
    width: 300px;
    height: 60px;
    border: 0;
    outline: 0;
    margin: 10px auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: #4285f4;
    padding: 0;
    line-height: 60px;
    font-family: var(--font);
    font-size: 17px;
    font-weight: 600;
    color: white;
}
.mail {
    background-color: var(--primary);
}
.mail > i,.google > i{
    float: left;
    font-size: 30px;
    color: white;
    background-color: #3568ba;
    width: 60px;
    height: 60px;
    line-height: 60px;
}
.mail > i{
    background-color: #b91200;
}