<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Barcode Scanner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.98, user-scalable=no">
  <link rel="stylesheet" href="/static/dash.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="admin">
<h1>Admin panel</h1>
<input type="text" class="name" placeholder="Name of Product" id="name"/>
<input type="text" class="name" placeholder="Quantity" id="quantity"/>
<input type="text" class="name" placeholder="Price" id="price"/>
<input type="text" class="name" placeholder="Category" id="category"/>
<input type="text" class="name" placeholder="Code" id="code"/>
<button class="submit" id="submitBtn">Add item</button>
</div>

<script>
$(document).ready(function() {
    $(".submit").click(function() {
        var name = $("#name").val();
        var quantity = $("#quantity").val();
        var price = $("#price").val();
        var category = $("#category").val();
        var code = $("#code").val();
        
        $.ajax({
            type: "POST",
            url: "/submit_data/",
            data: {
                name: name,
                quantity: quantity,
                price: price,
                category: category,
                code: code,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                alert("Data submitted successfully!");
            },
            error: function(xhr, errmsg, err) {
                alert("Failed to submit data: " + errmsg);
            }
        });
    });
});
</script>

</body>
</html>
