<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Barcode Scanner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.98, user-scalable=no">
  <link rel="stylesheet" href="/static/dash.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

  <div class="container">
<img src="/static/images/Blueprint.jpg" id="image" style="display: none;" />
<img src="/static/images/drop.png" id="pin" style="display: none;" />

    <nav>
      <button id="ham" onclick="ham()"><i class="fa fa-reorder"></i></button>
      <img src="/static/images/Logo.png" class="logo"/>
      <div class="options" id="options" style="width:0px ;">
        <div class="profile" id="profile" onloadstart="lett()"></div>
        <h1 id="user">{{user}}</h1>
        <button id="home" onclick="navi('home','homediv')"><i class="fa fa-home"></i> Home</button>
        <button id="scan" onclick="navi('scan','scanner')"><i class="fa fa-qrcode"></i> Scan Barcode</button>
        <button id="cart" onclick="navi('cart','cartdiv')"><i class="fa fa-shopping-cart"></i> My Cart</button>
        <button id="logout" onclick="navi('logout')"><i class="fa fa-sign-out"></i> Logout</button>
      </div>
    </nav>


    <div id="homediv" style="display: flex;opacity: 1;">
    <h1>Hello, {{user}}</h1>
    <span class="search">
      <p>Find Your Way</p>
      <button onclick="popup(1)"><i class="fa fa-search"></i>Search 'addidas store'</button>
    </span>
    <h1>Upto 40% off</h1>
    <img src="/static/images/poster.png"/>

    <div class="search_popup" id="search_popup" style="height: 0svh;">
      <div class="align">
      <input placeholder="From" id="from" type="text" onkeyup="autocomp('from')" autofocus/>
      <input placeholder="To" id="to" onkeyup="autocomp('to')" type="text"/>
      </div>
      <!-- <button onclick="popup(0)">╳</button> -->
      <div id="resul"></div>
      <button class="navig" onclick="navigat()">navigate</button>

      <canvas id="map" width="350" height="400" style="background-color: rgb(255, 255, 255);transition: 1s;"></canvas>
    </div>

  </div>


  <div id="scanner" style="display: none;">
    <h1>Scan Barcode</h1>
    <div id="cart_add_success" style="display: none;">Item added to cart</div>
      <video id="barcode-scanner" width="350px" autoplay playsinline>
    </video>
    
    <canvas id="canvas" style="display: none;" willReadFrequently></canvas>
    <button id="openScanner">Open Scanner</button>
    <div class="overlay" id="overlay" style="display:none;">
      <div class="box">
        <p id="result"></p>
        <input placeholder="Enter Quantity '3'" type="number" id="quantity" maxlength="100" minlength="0"/>
        <span><button id="add_cart" onclick="add_cart()">Add To Cart</button>
          <button id="cancel" onclick="
            document.getElementById('overlay').style.display='none'">Cancel</button></span>
      </div>
    </div>
  </div>


  <div id="cartdiv" style="display: none;">
    <h1>My Cart</h1>
    <div class="products_list" id="products_list">

    

    </div>

    <span class="button_array">
      <button class="add_items" onclick="navi('scan','scanner')">+ Add Items</button>
      <button class="checkout" id="pay-btn">Pay Now</button>
    </span>
  </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>


 <script>
    let i;
    const canvas = document.getElementById("map");
    const can = canvas.getContext("2d");
    
    let im=document.getElementById("image");
    can.drawImage(im,15,0,300,400);
    
function linefollow(x,y){
  can.arc(x,y,5,0,2*Math.PI);
  can.fillStyle="red";
  can.fill();
}

    function navigat(){
      let from=document.getElementById("from").value;
      let to= document.getElementById("to").value;

      $.get("/nav/"+from+"/"+to, function(data,status){
        h=data.path;
        canvas.width = canvas.width;
        can.drawImage(im,15,0,300,400);
        can.moveTo(h[0][0],h[0][1])
        can.arc(h[0][0],h[0][1],5,0,2*Math.PI);
        can.fillStyle="red";
        can.fill();
        for(i=0;i<=h.length-1;i++){
          can.lineTo(h[i][0],h[i][1]);
        }
        let pin=document.getElementById("pin");
        can.drawImage(pin,(h[h.length-1][0])-10,(h[h.length-1][1])-30,25,32);
        can.strokeStyle="red";
        can.lineWidth=5;
        can.stroke();
      })
      
    }
  
var t=document.getElementById("user").innerHTML;
document.getElementById("profile").innerHTML=t[0];

function autocomp(id){
  var destination=[
"vegetables",
"cleaning",
"diary",
"beverage",
"fruits",
"snacks",
"clothes",
"waiting",
"hardware",
"stationary",
"food",
"electronics"
];
  var possible=[
["vegetables","carrot","cabbage"],
["cleaning products","soap","mop"],
["diary","milk","cheese","ghee"],
["beverage","beer","juice","tea","coffee","capachino"],
["fruits","apple","orange","grapes","pineapple"],
["snacks","chips","fries","puffs","pringles"],
["clothes","pants","jeans","shirt"],
["waiting room","restroom"], 
["hardware","powertools","drill machine","grinding machine"],
["stationary","books","pen","pencil","crayons"],
["food","biriyani","porotta"],
["electronics","TV","speaker","refrigerator","fridge","washing machine"]
];
  let from=document.getElementById(id).value;
  var i,j;
  document.getElementById("resul").innerHTML=null;

  for(i=0;i<=possible.length-1;i++){
    for(j=0;j<=possible[i].length-1;j++){

      if(possible[i][j].slice(0,from.length)==from.toLowerCase()){
        document.getElementById("resul").innerHTML+=
        "<p onclick=document.getElementById('"+id+"').value='"+destination[i]+"';document.getElementById('resul').innerHTML=null;>"+possible[i][j]+"</p>"
        ;console.log(destination[i])
      }
      if(from==""){
        document.getElementById("resul").innerHTML=null;
      }
    }
  }
  
}

function fetchAndUpdateCart() {
    $.get("/getCart", function(data, status) {
        if (status === "success") {
            updateProductList(data);
        } else {
            console.log("Error fetching cart data");
        }
    }).fail(function() {
        console.log("HTTP error occurred");
    });
}

function deleteItemFromCart(itemName) {
    $.ajax({
        url: "/delete/" + encodeURIComponent(itemName), 
        type: "GET",
        success: function(data, status) {
            if (status === "success" && data.status === "ok") {
                console.log("Item deleted from cart successfully");
                fetchAndUpdateCart();
            } else {
                console.log("Error deleting item from cart");
            }
        },
        error: function() {
            console.log("HTTP error occurred");
        }
    });
}

$(document).on("click", "#delete", function() {
  console.log("clicked")
    var itemName = $(this).closest("#product").find(".product_name h2").text().trim();
    deleteItemFromCart(itemName);
});

function updateProductList(cartData) {
    var productsList = $('#products_list');
    productsList.empty(); 
    
    cartData.cart.forEach(function(item) {

        var productHTML = `
        <span id="product">
            <img src="/static/images/${item.item}.jpg">
            <span class="product_name">
                <h2>${item.item}</h2>
                <p>Quantity: ${item.quantity}</p>
                <button id="delete"><i class="fa fa-trash"></i></button>
                <span id="price">₹${item.price}</span>
            </span>
        </span>
        `;
        productsList.append(productHTML);
    });
}

$('#cart').click(function() {
    $.get("/getCart", function(data, status) {
        if (status === "success") {
            updateProductList(data);
        } else {
            console.log("Error fetching cart data");
        }
    }).fail(function() {
        console.log("HTTP error occurred");
    });
});
  var item = "";
  function add_cart() {
    var quantity = $('#quantity').val();
    $.get("/cart/" +item +"/"+ quantity, function(data, status) {
        if (status === "success" && data.status === "ok") {
            console.log("Item added to cart successfully");
            document.getElementById("cart_add_success").style.display="block";
            setTimeout(()=>{
              document.getElementById("cart_add_success").style.opacity=1;
              document.getElementById("overlay").style.display="none";
            },10)
            setTimeout(()=>{
              document.getElementById("cart_add_success").style.display="none";
              setTimeout(()=>{
              document.getElementById("cart_add_success").style.opacity=0;
            },10)
            },1000)
            
        } else {
            console.log("Error adding item to cart");
        }
    }).fail(function() {
        console.log("HTTP error occurred");
    });
}
  document.addEventListener('DOMContentLoaded', async () => {
    const videoElement = document.getElementById('barcode-scanner');
    const canvas = document.getElementById('canvas');
    const canvasContext = canvas.getContext('2d');
    let scannerStarted = false; 


    document.getElementById('openScanner').addEventListener('click', async () => {
      try {
        const stream = await navigator.mediaDevices.getUserMedia({ video: true });
        videoElement.srcObject = stream;

        const config = {
          inputStream: {
            name: 'Live',
            type: 'LiveStream',
            target: videoElement,
            constraints: {
              width: { min: 400 },
              height: { min: 400 },
              facingMode: 'environment',
            },
          },
          decoder: {
            readers: ['ean_reader', 'code_128_reader', 'code_39_reader', 'upc_reader'],
          },
        };
        
        Quagga.init(config, function (err) {
          if (err) {
            console.error(err);
            return;
          }

          //var he=document.getElementById("barcode-scanner").offsetHeight-5;
          //document.getElementById("qr_align").style.height=he + "px";

          Quagga.start();
          scannerStarted = true; 
          
          Quagga.onProcessed((result) => {
            const drawingCanvas = Quagga.canvas.ctx.overlay;

            if (result) {
              if (result.boxes) {
                drawingCanvas.clearRect(0, 0, parseInt(drawingCanvas.canvas.width), parseInt(drawingCanvas.canvas.height));
                result.boxes.filter((box) => box !== result.box).forEach((box) => {
                  Quagga.ImageDebug.drawPath(box, { x: 0, y: 1 }, drawingCanvas, { color: 'green', lineWidth: 2 });
                });
              }

              if (result.box) {
                Quagga.ImageDebug.drawPath(result.box, { x: 0, y: 1 }, drawingCanvas, { color: 'blue', lineWidth: 2 });
              }

              if (result.codeResult && result.codeResult.code) {
                document.getElementById("overlay").style.display = "block";
                setTimeout(() => {
                    document.getElementById("overlay").style.opacity = 1;
                });

                const barcode = result.codeResult.code;

                fetch(`/fetch_item_name/${barcode}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.item_name) {
                            document.getElementById('result').innerHTML += `${data.item_name}`;
                            item=data.item_name;
                        } else {
                            document.getElementById('result').innerHTML += "Item not found";
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching item name:', error);
                        document.getElementById('result').innerHTML += "Error fetching item name";
                    });

                Quagga.stop();
                scannerStarted = false;
            }
              
            }
          });
        });
      } catch (error) {
        console.error('Error accessing the camera:', error);
      }
    });

    document.getElementById('logout').addEventListener('click', () => {
      window.location.href="/logout";
    });
  });
  function popup(flag){
    var pop=document.getElementById("search_popup");

    if(flag){
      
      pop.style.height="100vh";
      let p=document.getElementById("map").style;
      p.display="block"
      p.opacity="1"
    }
    
    
    else{
      pop.style.height="0svh"
    }
  }
  function navi(a,ele){
    var o=["home","cart","scan","logout"];
    var e=["homediv","scanner","cartdiv","map"];
    var op=document.getElementById("options");
    var ham=document.getElementById("ham");
    document.getElementById("search_popup").style.height="0vh";

    for(let i=0;i<=o.length-1;i++){
      document.getElementById(e[i]).style.display="none";
      document.getElementById(e[i]).style.opacity=0;
      document.getElementById(o[i]).style.backgroundColor="transparent";
      document.getElementById(o[i]).style.color="black";
    }

    document.getElementById(a).style.backgroundColor="#e8170023";
    document.getElementById(a).style.color="#e81700";
    document.getElementById(ele).style.display="flex";
    setTimeout(()=>{
      document.getElementById(ele).style.opacity=1;
    })
    op.style.width = "0px";
      op.style.opacity = "0";
      ham.style.transform="translate(0px)"

  }
  function ham(){
    var op=document.getElementById("options");
    var ham=document.getElementById("ham");

    if(op.style.width == "250px"){
      op.style.width = "0px";
      op.style.opacity = "0";
      ham.style.transform="translate(0px)"
    }
    else{
      op.style.width="250px";
      op.style.opacity = "1"
      ham.style.transform="translate(200px)"
    }
  }
  
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  document.getElementById("pay-btn").onclick = function (e) {
      $.ajax({
          url: "/getAmount",
          type: "GET",
          success: function(data) {
              var options = {
                  key: data.razorpay_merchant_key,
                  amount: data.razorpay_amount, 
                  currency: data.currency,
                  name: "Faz Check",
                  order_id: data.razorpay_order_id,
                  callback_url: data.callback_url,
              };
              console.log("success");
              var rzp1 = new Razorpay(options);
  
              rzp1.open();
          },
          error: function(xhr, status, error) {
              console.error("Error fetching amount:", error);
          }
      });
      e.preventDefault();
  };
  </script>
  
</body>
</html>
